@CHARSET "UTF-8";
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

#header {
	width:100%;
	height: 50px;
	background:#0057e7;
	margin: 0; 
	text-align: center;
	padding:0;
}

#map {
	display: inline-block;
	float:left;
	width:75%;
	height: 500px;
	backgrount:red;
	margin: 0px 10px 5px 10px;
	}
	
#menu {
	disploay:inline-block;
	float:right;
	margin:auto;
	width:20%;
	height:600px;
}


body {
	position:absolute;
	margin: 0;
	width: 100%;
	overflow: hidden;
	padding:10px;
	font-weight: bold;
	font-family: 'nanumgothic';
	font-size: 20px;
}
}
section {
	margin:10px;
}

#introduction {
	margin:5px;
	padding:0px;
}
a{
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	list-style-type:none;
	display:inline;
	width:100px;
	text-align:center;
	margin:0;
	padding:0;
}

#sub-title {
	margin:0px;
	padding:0px;
	height:20px;
}

#line{
	width: 50%;
	border-style:solid;
	padding: 10px;
}
#title {
	text-align: center;
	font-size: 40px;
	color: white;
	
}
